<div class="flex flex-col items-center gap-4 w-full p-[2.25]">
  <h1 class="font-semibold text-text-800 text-[15px]">Autenticação Unificada</h1>

  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <div class="mb-6">
      <app-input formControlName="userName" label="Nome de Utilizador" type="text" placeholder="Digite o utilizador" />
    </div>
    <app-input-password formControlName="password" label="Palavra-passe" />

    <button type="submit" class="flex justify-end w-full p-3 my-4 bg-primary rounded-lg text-white">
      <span class="mx-auto">Aceder</span>
      <span class="justify-center my-auto">
        @if (isLoading) {
          <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        }
        @else {
          <img src="assets/icons/caminho.svg" alt="icon"/>
        }
      </span>
    </button>
  </form>
</div>
