@if (label) {
  <label for="" class="text-sm text-text-600">
    {{ label }}

    @if (required) {
      <span class="text-red-0">*</span>
    }
  </label>
}
<input [type]="type" [placeholder]="placeholder" [disabled]="disabled" [(ngModel)]="messageValue" name="userName" ngDefaultControl  class="rounded-lg w-full h-[2.7rem] text-sm p-2 bg-background-input border border-border-secundary text-text-800  placeholder-text-600 hover:border-border-secundary focus:outline-border-secundary disabled:opacity-70"/>
