<label class="text-sm text-text-600">{{ label }}</label>
<div class="mb-6 flex items-center justify-end ">
    <input type="{{ type }}" maxlength="50" placeholder="Digite a palavra-passe" [(ngModel)]="messageValue" name="password" autocomplete="off" maxlength="40" class="rounded-lg w-full h-[2.7rem] text-sm p-2 bg-background-input border border-border-secundary text-text-800  placeholder-text-600 hover:border-border-secundary focus:outline-border-secundary" />
    <div class="absolute pr-3 ">
        <span class="cursor-pointer"><img [src]="src" style="width: 19px; height: 19px;" alt="icon" (click)="toggleTypePassword()" /></span>
    </div>
</div>
